# The maintainers are requested for all changes.
* @glotzerlab/signac-maintainers

# Additional reviewers requested for source code and documentation changes.
/signac/ @glotzerlab/signac-pullassigner
*.rst @glotzerlab/signac-pullassigner
