{
	"author_name": "Carl Simon Adorf",
  "author_email": "csadorf@umich.edu",
	"project_dir": "/nobackup/csadorf/example_project", 
	"filestorage": "/nfs/glotzer/signacdb/storage/",
	"database": {"host": "localhost"}
}
