repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v3.3.0'
    hooks:
      - id: end-of-file-fixer
        exclude: 'setup.cfg'
      - id: trailing-whitespace
        exclude: 'setup.cfg'
      - id: debug-statements
  - repo: https://github.com/asottile/pyupgrade
    rev: 'v2.7.3'
    hooks:
      - id: pyupgrade
        exclude: '(?:configobj/.*)'
        args:
          - --py36-plus
  - repo: https://github.com/pycqa/isort
    rev: '5.6.4'
    hooks:
      - id: isort
  - repo: https://gitlab.com/pycqa/flake8
    rev: '3.8.4'
    hooks:
      - id: flake8
  - repo: https://github.com/pycqa/pydocstyle
    rev: '5.1.1'
    hooks:
      - id: pydocstyle
        files: ^((?!doc|tests|configobj|db).)*$
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.790'
    hooks:
      - id: mypy
