ci:
  autoupdate_schedule: quarterly

exclude: |
  (?x)^(
    ^signac/common/configobj/|
    ^signac/common/deprecation/
  )

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: 'v4.3.0'
    hooks:
      - id: end-of-file-fixer
        exclude: 'setup.cfg'
      - id: trailing-whitespace
        exclude: 'setup.cfg'
      - id: check-builtin-literals
      - id: check-executables-have-shebangs
      - id: check-json
        exclude: 'asv.conf.json'
      - id: check-yaml
      - id: debug-statements
      - id: requirements-txt-fixer
  - repo: https://github.com/asottile/pyupgrade
    rev: 'v2.38.2'
    hooks:
      - id: pyupgrade
        args:
          - --py38-plus
        exclude: '_vendor'
  - repo: https://github.com/PyCQA/isort
    rev: '5.10.1'
    hooks:
      - id: isort
  - repo: https://github.com/psf/black
    rev: '22.8.0'
    hooks:
      - id: black
  - repo: https://github.com/PyCQA/flake8
    rev: '5.0.4'
    hooks:
      - id: flake8
        exclude: |
          (?x)^(
            ^signac/_vendor/configobj/|
            ^signac/_vendor/deprecation/|
          )
  - repo: https://github.com/PyCQA/pydocstyle
    rev: '6.1.1'
    hooks:
      - id: pydocstyle
        exclude: |
          (?x)^(
            ^doc/|
            ^tests/|
            ^signac/_vendor/configobj/|
            ^signac/_vendor/deprecation/|
            ^signac/db/
          )
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v0.981'
    hooks:
      - id: mypy
        additional_dependencies:
          - types-filelock
          - types-redis
