repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: ''
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: debug-statements
-   repo: local
    hooks:
    -   id: flake8
        name: flake8
        entry: flake8
        language: python
        types: [python]
    -   id: pydocstyle
        name: pydocstyle
        entry: pydocstyle
        language: python
        types: [python]
    -   id: mypy
        name: mypy
        entry: mypy
        language: python
        types: [python]
