# CircleCI configuration file
#
# Check https://circleci.com/docs/2.0/language-python/ for more details
#
version: 2.1

orbs:
  win: circleci/windows@2.2.0  # Enables Windows executors

jobs:
  pre-checks:
    docker:
      - image: circleci/python:3.9

    working_directory: ~/repo

    steps:
      - checkout
      - run:
          name: Install pre-check dependencies
          command: |
            pip install --progress-bar off --user -U -r requirements-precommit.txt

      - run:
          name: Run pre-checks
          command: |
            pre-commit run --all-files --show-diff-on-failure

  linux-python-39: &linux-template
    docker:
      - image: circleci/python:3.9

    environment:
      PYTHON: python

    working_directory: ~/repo

    steps:

      - checkout

      - restore_cache:
          keys:
            - python-env-v7-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "requirements-dev.txt" }}-{{ checksum "requirements-precommit.txt" }}
            - python-env-v7-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}
            - python-env-v7-{{ arch }}-{{ .Environment.CIRCLE_JOB }}
            - python-env-v7-{{ arch }}
            - python-env-v7

      - run:
          name: Install dependencies
          command: |
            ${PYTHON} -m pip install --progress-bar off -U virtualenv --user
            mkdir -p ./venv
            ${PYTHON} -m virtualenv ./venv --clear
            . venv/bin/activate
            if [[ "${CIRCLE_JOB}" != *"pypy"* ]]; then
              sudo apt update -qq && sudo apt install -y -qq libhdf5-dev
            fi
            ${PYTHON} -m pip install --progress-bar off -U pip==20.2
            ${PYTHON} -m pip install --progress-bar off -U codecov
            ${PYTHON} -m pip install --progress-bar off -U -e . -r requirements-dev.txt

      - save_cache:
          key: python-env-v7-{{ arch }}-{{ .Environment.CIRCLE_JOB }}-{{ checksum "setup.py" }}-{{ checksum "requirements-dev.txt" }}-{{checksum "requirements-precommit.txt" }}
          paths:
            - "venv"

      - run:
          name: Run tests
          command: |
            . venv/bin/activate
            ${PYTHON} -m pytest --cov=signac --cov-report=xml tests/ -v
            codecov

      - store_artifacts:
          path: test-reports
          destination: test-reports

      - run:
          name: Run benchmarks
          command: |
            # Benchmarks depend on pandas, which takes a long time to install on pypy.
            if [[ "${CIRCLE_JOB}" != *"pypy"* ]]; then
              . venv/bin/activate
              ${PYTHON} -m pip install --progress-bar off -r requirements-benchmark.txt
              ${PYTHON} -m pip freeze
              ${PYTHON} benchmark.py run -N 100 1000  # this revision
              ${PYTHON} benchmark.py report
              git reset --hard origin/master
              git checkout "${CIRCLE_SHA1}" -- benchmark.py  # ensure that we use the same benchmark script
              ${PYTHON} benchmark.py run -N 100 1000 --force
              ${PYTHON} benchmark.py compare origin/master "${CIRCLE_SHA1}"
            fi

  linux-python-38:
    <<: *linux-template
    docker:
      - image: circleci/python:3.8

  linux-python-37:
    <<: *linux-template
    docker:
      - image: circleci/python:3.7

  linux-python-36:
    <<: *linux-template
    docker:
      - image: circleci/python:3.6

  linux-pypy-3:
    <<: *linux-template
    docker:
      - image: pypy:3
    environment:
      PYTHON: pypy3

  windows-python-38:
    executor:
      name: win/default
      shell: bash.exe
    environment:
      PYTHON: python
    steps:
      - checkout
      - run:
          name: Install Python
          command: |
            choco install python --version 3.8.1 --limit-output --no-progress
      - run:
          name: Install dependencies
          command: |
            ${PYTHON} -m pip install --progress-bar off -U codecov
            ${PYTHON} -m pip install --progress-bar off -U -e . -r requirements-dev.txt
      - run:
          name: Run tests
          command: |
            ${PYTHON} -m pytest --cov=signac --cov-report=xml tests/ -v
            codecov

  macos-python-38:
    macos:  # executor type
      xcode: 11.3.0
    steps:
      - checkout
      - run:
          name: Create environment and run tests
          command: |
            python3 -m venv create test_env
            . test_env/bin/activate
            python --version
            python -m pip install --progress-bar off -U -e . -r requirements-dev.txt
            python -m pytest tests/ -v

  check-metadata:
    docker:
      - image: circleci/python:3.9
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: check-zenodo-metadata
          command: |
            python -c "import json; json.load(open('.zenodo.json'))"
      - run:
          name: references.bib
          command: |
            pip install --progress-bar off --user -U pybtex
            python -c "import pybtex; print(pybtex.format_from_file(open('references.bib'), style='unsrt', output_backend='text'))"

  test-deploy-pypi:
    docker:
      - image: circleci/python:3.9
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: test-deploy-pypi
          command: |
            bash .circleci/deploy.bash testpypi

  deploy-pypi:
    docker:
      - image: circleci/python:3.9
    working_directory: ~/repo
    steps:
      - checkout
      - run:
          name: deploy-pypi
          command: |
            bash .circleci/deploy.bash pypi


workflows:
  version: 2
  test:
    jobs:
      - pre-checks
      - linux-python-39:
          requires:
            - pre-checks
      - linux-python-38:
          requires:
            - pre-checks
      - linux-python-37:
          requires:
            - pre-checks
      - linux-python-36:
          requires:
            - pre-checks
      - linux-pypy-3:
          requires:
            - pre-checks
      - windows-python-38:
          requires:
            - pre-checks
      - macos-python-38:
          requires:
            - pre-checks
      - check-metadata:
          filters:
            branches:
              only: /release\/.*/
      - test-deploy-pypi:
          filters:
            branches:
              only: /release\/.*/
          requires:
            - linux-python-39
            - linux-python-38
            - linux-python-37
            - linux-python-36
            - linux-pypy-3
            - windows-python-38
  deploy:
    jobs:
      - deploy-pypi:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /v.*/
