h5py==3.2.1; implementation_name=='cpython'
numpy==1.20.1
pandas==1.2.2; implementation_name=='cpython'
pymongo==3.11.3; implementation_name=='cpython'
redis==3.5.3
ruamel.yaml==0.16.12
tables==3.6.1; implementation_name=='cpython'
zarr==2.6.1; platform_system!='Windows'
