h5py==3.14.0; implementation_name=='cpython'
numpy==2.2.1
pandas==2.3.1; implementation_name=='cpython'
tables==3.10.1; implementation_name=='cpython' and platform_machine != "arm64" or platform_system != "Darwin"
