name: Publish to TestPyPI

on:
  push:
    branches:
      - 'release/*.*.*'

  # trigger on request
  workflow_dispatch:

concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true

jobs:
  build-and-test-sdist-and-wheels:
    uses: glotzerlab/signac/.github/workflows/publish-packages.yml@feature/actions_deploy_pypi
    with:
      upload_to_test: true
    secrets:
      TEST_PYPI_API_TOKEN: ${{ secrets.TEST_PYPI_API_TOKEN }}
