name: Publish packages

on:
  workflow_call:
    inputs:
      upload_to_test:
        required: true
        type: boolean
    secrets:
      TEST_PYPI_API_TOKEN:
        required: false
      PYPI_API_TOKEN:
        required: false

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - name: Check out repo
      uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
    - name: Set up Python
      uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
      with:
        python-version: "3.14"
    - name: Set up Python environment
      uses: glotzerlab/workflows/setup-uv@894d9678188a02b06560fdeb2b9ba98d016cd371 # 0.10.0
      with:
        lockfile: "requirements/requirements-test-all-py3.13.txt"
    - name: Build a binary wheel and a source tarball
      run:
        uv build --sdist --wheel --outdir dist/ .
    - name: Install wheel
      run:
        uv pip install signac --progress-bar off --no-index -f dist/
    - name: Test with pytest
      run:
        python -m pytest -v tests/
    - name: Upload artifact
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
      with:
          name: release
          path: dist/

  publish:
    needs: [build]
    runs-on: ubuntu-24.04
    steps:
      - name: Download artifact
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
            name: release
            path: dist/
      - name: Publish package to TestPyPI
        if: ${{ inputs.upload_to_test }}
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          repository_url: https://test.pypi.org/legacy/
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
      - name: Publish package to PyPI
        if: ${{ !inputs.upload_to_test }}
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
