name: Publish packages

on:
  workflow_call:
    inputs:
      upload_to_test:
        required: true
        type: boolean
    secrets:
      TEST_PYPI_API_TOKEN:
        required: false
      PYPI_API_TOKEN:
        required: false

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
    - name: Check out repo
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
    - name: Set up Python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: "3.14"
    - name: Set up Python environment
      uses: glotzerlab/workflows/setup-uv@204dc7c0f82720090703712694b7cab761aacaa0 # 0.13.0
      with:
        lockfile: "requirements/requirements-test-all-py3.13.txt"
    - name: Build a binary wheel and a source tarball
      run:
        uv build --sdist --wheel --outdir dist/ .
    - name: Install wheel
      run:
        uv pip install signac --progress-bar off --no-index -f dist/
    - name: Test with pytest
      run:
        python -m pytest -v tests/
    - name: Upload artifact
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
          name: release
          path: dist/

  publish:
    needs: [build]
    runs-on: ubuntu-24.04
    steps:
      - name: Download artifact
        uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
            name: release
            path: dist/
      - name: Publish package to TestPyPI
        if: ${{ inputs.upload_to_test }}
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          repository_url: https://test.pypi.org/legacy/
          password: ${{ secrets.TEST_PYPI_API_TOKEN }}
      - name: Publish package to PyPI
        if: ${{ !inputs.upload_to_test }}
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
