name: Run Unit Tests

on:
  # trigger on pull requests
  pull_request:

  # trigger on all commits to master
  push:
    branches:
      - 'master'

  # trigger on request
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        config: [ {python: '3.8', dependencies: 'newest'},
                  {python: '3.9', dependencies: 'newest'},
                  {python: '3.10', dependencies: 'newest'},
                  {python: '3.10', dependencies: 'minimal'},
                  {python: '3.8', dependencies: 'oldest'} ]
        exclude:
          # macOS, Python 3.10 is excluded because zarr dependency numcodecs is
          # not yet available as a wheel for that configuration and fails to
          # build from source. See
          # https://github.com/zarr-developers/numcodecs/issues/326
          - os: macos-latest
            config: {python: '3.10', dependencies: 'newest'}

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.config.python }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.config.python }}
    - name: Install newest dependencies
      run: |
        pip install -r requirements/requirements-test.txt
        pip install -r requirements/requirements-test-optional.txt
      if: ${{ matrix.config.dependencies == 'newest' }}
    - name: Install minimal dependencies
      run: |
        pip install -r requirements/requirements-test.txt
      if: ${{ matrix.config.dependencies == 'minimal' }}
    - name: Install oldest supported dependencies
      run: |
        pip install -r .circleci/ci-oldest-reqs.txt
      if: ${{ matrix.config.dependencies == 'oldest' }}
    - name: Install the package
      run: |
        pip install -e .
    - name: Run MongoDB
      uses: supercharge/mongodb-github-action@1.7.0
      if: ${{ matrix.os == 'ubuntu-20.04' && matrix.config.dependencies != 'minimal' }}
    - name: Run Redis
      uses: supercharge/redis-github-action@1.4.0
      if: ${{ matrix.os == 'ubuntu-20.04' && matrix.config.dependencies != 'minimal' }}
    - name: Test with pytest
      run: |
        pytest --cov=signac --cov-config=setup.cfg --cov-report=xml tests/ -v
    - uses: codecov/codecov-action@v2
